.dreams{
    background-image: url(../../assets/img/contacto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 25rem;
}

.promo{
    height: 100%;
    display: flex;
    align-items: center;
}